.quillContent p {
    margin: 0; /* Xóa margin mặc định */
    line-height: 1.5; /* Điều chỉnh khoảng cách giữa các dòng */
  }
  
  .quillContent br {
    line-height: 1; /* Kiểm soát khoảng cách cho thẻ <br> */
  }